In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [48]:
df = pd.read_csv (r'C:\Users\conal\Desktop\MCM\Practicum\data\min,max,average gas 11-26 to 01-26 QUERY 2.csv', header=0)
df['datetime'] = pd.to_datetime(df['block_timestamp'], format = '%Y-%m-%d %H:%M:%S UTC')
df['timestamp'] = df['datetime'].astype(np.int64) // 10**9
df = df.sort_values(by='block_timestamp',ascending=False)
df = df.set_index('datetime')
df_block_gas_price = df.resample('1T').mean()

df_block_gas_price.tail()

C:\Users\conal\AppData\Local\Temp/ipykernel_19600/1332284656.py:3: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['timestamp'] = df['datetime'].astype(np.int64) // 10**9

                     avg_gas_price  max_gas_price  min_gas_price     timestamp
datetime
2022-01-26 23:55:00   1.512508e+11   3.078520e+11   1.434566e+11  1.643241e+09
2022-01-26 23:56:00   1.611424e+11   3.079718e+11   1.485080e+11  1.643241e+09
2022-01-26 23:57:00   1.398598e+11   6.725556e+11   1.213816e+11  1.643241e+09
2022-01-26 23:58:00   1.555583e+11   5.227297e+11   1.422390e+11  1.643242e+09
2022-01-26 23:59:00   1.847580e+11   9.317000e+11   1.632410e+11  1.643242e+09

In [47]:
df = pd.read_csv (r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH\eth_price_data_2021-01-01_2022-03-02.csv')
df['Open_time'] = df['Open_time'].floordiv(1000)
df['datetime'] = pd.to_datetime(df['Open_time'], unit='s')
df= df.sort_values(by='Open_time',ascending=False)

df = df.set_index('datetime')
df_eth = df[['Open_time', 'Open']]
df_eth.tail()

                      Open_time    Open
datetime
2021-01-01 00:04:00  1609459440  737.38
2021-01-01 00:03:00  1609459380  737.74
2021-01-01 00:02:00  1609459320  738.78
2021-01-01 00:01:00  1609459260  737.12
2021-01-01 00:00:00  1609459200  736.42

In [50]:
df = pd.read_csv (r'C:\Users\conal\Desktop\MCM\Practicum\data\gas limit, gas used 11-26 to 01-26.csv', header=0)
df['datetime'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S UTC')
df['timestamp'] = df['datetime'].astype(np.int64) // 10**9
df = df.sort_values(by='timestamp',ascending=False)
df = df.set_index('datetime')
df_block_gas_usage = df.resample('1T').mean()
df_block_gas_usage.tail()

C:\Users\conal\AppData\Local\Temp/ipykernel_19600/256650613.py:3: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['timestamp'] = df['datetime'].astype(np.int64) // 10**9

                        timestamp     gas_limit      gas_used
datetime
2022-01-26 23:55:00  1.643241e+09  3.001465e+07  1.753664e+07
2022-01-26 23:56:00  1.643241e+09  3.001756e+07  9.751164e+06
2022-01-26 23:57:00  1.643241e+09  3.000585e+07  1.476070e+07
2022-01-26 23:58:00  1.643242e+09  3.000976e+07  2.614542e+07
2022-01-26 23:59:00  1.643242e+09  3.002930e+07  3.002629e+07

In [51]:
merged_eth_usage = df_block_gas_usage.merge(df_eth, left_index=True, right_index=True)

In [52]:
merged_eth_usage.head()

,timestamp,gas_limit,gas_used,Open_time,Open
datetime,,,,,
2021-11-26 00:00:00,1.637885e+09,2.999267e+07,1.347163e+07,1637884800,4524.48
2021-11-26 00:01:00,1.637885e+09,2.999999e+07,1.516819e+07,1637884860,4529.90
2021-11-26 00:02:00,1.637885e+09,3.004394e+07,1.820355e+07,1637884920,4528.51
2021-11-26 00:03:00,1.637885e+09,2.999999e+07,1.802044e+07,1637884980,4533.54
2021-11-26 00:04:00,1.637885e+09,3.001463e+07,1.573136e+07,1637885040,4534.97

In [74]:
df_merged = merged_eth_usage.merge(df_block_gas_price, left_index=True, right_index=True)
df_merged.head()

,timestamp_x,gas_limit,gas_used,Open_time,Open,avg_gas_price,max_gas_price,min_gas_price,timestamp_y
datetime,,,,,,,,,
2021-11-26 00:00:00,1.637885e+09,2.999267e+07,1.347163e+07,1637884800,4524.48,9.687951e+10,3.401478e+11,8.168553e+10,1.637885e+09
2021-11-26 00:01:00,1.637885e+09,2.999999e+07,1.516819e+07,1637884860,4529.90,1.005554e+11,3.918277e+11,8.240792e+10,1.637885e+09
2021-11-26 00:02:00,1.637885e+09,3.004394e+07,1.820355e+07,1637884920,4528.51,9.189840e+10,4.351020e+11,7.540829e+10,1.637885e+09
2021-11-26 00:03:00,1.637885e+09,2.999999e+07,1.802044e+07,1637884980,4533.54,9.104711e+10,3.787148e+11,8.379399e+10,1.637885e+09
2021-11-26 00:04:00,1.637885e+09,3.001463e+07,1.573136e+07,1637885040,4534.97,1.081415e+11,5.355105e+11,9.635265e+10,1.637885e+09

In [75]:
df_merged_gwei = df_merged
df_merged_gwei['min_gas_price'] = df_merged['min_gas_price'].apply(lambda x: x/1000000000)
df_merged_gwei['avg_gas_price'] = df_merged['avg_gas_price'].apply(lambda x: x/1000000000)
df_merged_gwei['max_gas_price'] = df_merged['max_gas_price'].apply(lambda x: x/1000000000)
df_merged_gwei['block_utilisation'] = df_merged['gas_used']/df_merged['gas_limit']
df_merged_gwei = df_merged_gwei.drop(['timestamp_x', 'Open_time', 'timestamp_y'], axis=1)
df_merged_gwei.head()

,gas_limit,gas_used,Open,avg_gas_price,max_gas_price,min_gas_price,block_utilisation
datetime,,,,,,,
2021-11-26 00:00:00,2.999267e+07,1.347163e+07,4524.48,96.879512,340.147750,81.685534,0.449164
2021-11-26 00:01:00,2.999999e+07,1.516819e+07,4529.90,100.555432,391.827667,82.407921,0.505607
2021-11-26 00:02:00,3.004394e+07,1.820355e+07,4528.51,91.898398,435.102000,75.408292,0.605898
2021-11-26 00:03:00,2.999999e+07,1.802044e+07,4533.54,91.047115,378.714800,83.793994,0.600682
2021-11-26 00:04:00,3.001463e+07,1.573136e+07,4534.97,108.141500,535.510500,96.352646,0.524123

In [76]:
df_merged_gwei.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged 11-26 to 01-26.csv', sep=',')

In [77]:
df_merged_gwei_5min = df_merged_gwei.resample('5T').mean()
df_merged_gwei_60min = df_merged_gwei.resample('60T').mean()
df_merged_gwei_10min = df_merged_gwei.resample('10T').mean()

In [78]:
df_merged_gwei_5min.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged_5min 11-26 to 01-26.csv', sep=',')

In [79]:
df_merged_gwei_60min.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged_60min 11-26 to 01-26.csv', sep=',')

In [80]:

df_merged_gwei_10min.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged_10min 11-26 to 01-26.csv', sep=',')